<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @posts.each do |post| %>
  <h1> <%= link_to post.title, post %> </h1>

<% end %>

<%= link_to 'Posts', posts_path %>
<%= link_to 'Voltar', root_path %>